@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

body {
  background: #dbffb9;
  color: #444;
  margin: 0;
}
body {
  font-family: "Poppins";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: #fdf79e;
}

header img {
  max-width: 60px;

  animation: rotate 8s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header h1 {
  margin: 0;
  padding-top: 25px;
  margin-left: 15px;
  color: black;
  font-size: 2em;
  transform: rotate(3deg);
}

.inputField {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  width: 20%;
  margin: 4px;
  border-radius: 4px;
  border-style: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #ffca47;
}
button {
  padding: 10px;
  width: 5%;
  margin: 4px;
  border-radius: 5px;
  border-style: none;
  background-color: #ffca47;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #e0b03d;
  cursor: pointer;
}
