@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

body {
  background: #dbffb9;
  color: #444;
  margin: 0;
}
body {
  font-family: "Poppins";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: #fdf79e;
}

header img {
  max-width: 60px;
  animation: rotater 5s alternate-reverse infinite;
}
@keyframes rotater {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header h1 {
  margin: 0;
  padding-top: 25px;
  margin-left: 15px;
  color: black;
  font-size: 2em;
  transform: rotate(3deg);
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  width: 20%;
  margin: 4px;
  border-radius: 4px;
  border-style: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #ffca47;
}
button {
  padding: 10px 20px;
  width: auto;
  margin: 4px;
  border-radius: 5px;
  border-style: none;
  background-color: #ffca47;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

button:hover {
  background-color: #e0b03d;
  cursor: pointer;
}

button:active {
  transform: scale(0.9) translate(0, 4px);
}

.task-list {
  max-width: 640px;
  margin: 20px auto;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  background: #fff;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}

.task h3,
.task .icons {
  display: inline-block;
}

.task .icons {
  text-align: right;
}

.task i {
  font-size: 1.4em;
  margin-left: 6px;
  cursor: pointer;
  color: #bbb;
}
